.aside {
  padding: 25px 0;
  width: 210px;
}

.aside-list {
  list-style: none;
  margin-left: 0;
}

.aside-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  font-family: "Inter";
  font-weight: bold;
  color: #9ca2a7;
  padding: 15px;
  width: 210px;
  transition: 0.3s;
  border-radius: 8px;
}

.aside__link-active {
  background: #EDF6FF;
  border-radius: 5px;
  padding: 15px;
  width: 210px;
  color: #45A5FF;
  font-weight: bold;
  transition: 0.5s;
}

.aside__link-active:hover{
  color: #45A5FF;
}

.aside__link-active svg path {
  fill: #45A5FF;
  font-weight: bold;
}

.aside__link-active svg{
  margin: 0 8px;
  font-weight: bold;
}

.aside-link svg{
  margin: 0 8px;
  font-weight: bold;
}

.aside-item {
  margin: 10px 0;
}
