.category {
  margin: 18px 0;
  padding: 10px;
}

.category-name {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-left: 12px;
}

.category-shop{
    background-color: #ED774D;
    color: #fff;
    font-size: 18px;
    width: 155px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 10px;  
    margin-top: 15px;
}

.category-shops{
  display: flex;
  justify-content: flex-end;
}

.category-table{
  width: 100%;
  margin-top: 30px;
}

.category-table thead{
  border-bottom: 1.5px solid #a1a1a1;
}

.category-table th{
  padding-bottom: 15px;
}